cfgv==3.5.0
click==8.3.3
deepmerge==2.0
distlib==0.4.0
filelock==3.29.0
identify==2.6.19
markdown==3.10.2
nodeenv==1.10.0
pip==23.3.2
platformdirs==4.9.6
pre-commit==4.6.0
pygments==2.20.0
pymdown-extensions==10.21.2
python-discovery==1.2.2
pyyaml==6.0.3
setuptools==69.0.3
tomli==2.4.1
typing-extensions==4.15.0
virtualenv==21.3.0
zensical==0.0.37
